:root {
  --colorbg: #004eff;
  --colorcard: #163fb7;
  --shadow: #00e1ff;
  --bg-card-shadow: #00e1ff9a;
  --bg-pink: #ff8fb1;
  --bg-form: #eff5f5;
  --form-text: #55b1ca;
}

.contact-bg {
  background-image: url(../assets//bg-service.png);
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 0;
}

.contact-wrapper {
  display: flex;
  justify-content: center;
  text-align: center;
}
.contact-title {
  color: white;
}
.contact-title h3 {
  font-size: 3.5rem;
}

.contact-title p {
  font-size: 1.9rem;
  font-weight: 500;
  margin: 20px 0;
}

.icon-wrapper {
  display: flex;
  justify-content: center;
  gap: 40px;
  text-align: center;
  margin: 60px 0;
}
.icon-items:hover {
  transition: 0.6s ease-in-out;
  background-color: var(--bg-pink);
  border-radius: 10px;
  color: var(--shadow);
}

.contact-icon {
  font-size: 2.6rem;
  color: white;
}
.icon-items {
  padding: 5px;
}
.icon-items p {
  margin: 20px 0;
  color: white;
}

@media screen and (max-width: 600px) {
  .contact-title {
    padding: 1rem;
  }
  .contact-title h3 {
    font-size: 2rem;
  }
  .contact-title p {
    font-size: 1rem;
  }
  .icon-items p {
    font-size: 0.8rem;
  }
  .contact-icon {
    font-size: 2rem;
  }
}
@media screen and (max-width: 430px) {
  .icon-wrapper {
    display: flex;
    flex-direction: column;
  }
  .icon-items p {
    font-size: 0.8rem;
  }
  .contact-icon {
    font-size: 1.9rem;
  }
}
/* form */
.contact-form {
  width: 90%;
  max-width: 600px;
  background: white;
  margin: 0 auto;
  padding: 1rem;
  border-radius: 20px;
}
.contact-form__title {
  text-align: center;
  font-size: 30px;
  padding: 10px;
  color: var(--form-text);
  margin-bottom: 15px;
}
.contact-form__form {
  padding: 0 20px;
}
.form-row {
  margin-bottom: 20px;
}
.input-data {
  padding: 10px;
}
.input-data-submit {
  display: flex;
  justify-content: center;
}
.input-text {
  display: flex;
  color: var(--form-text);
  flex-direction: column;
  gap: 5px 0;
}
.input-field {
  height: 2rem;
  border: none;
  padding: 5px 0;
  color: rgba(0, 0, 0, 0.7);
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.input-submit {
  padding: 10px;
  width: 100px;
  border: none;
  border-radius: 10px;
}
.input-submit:hover {
  background-color: var(--bg-pink);
  color: white;
}
.input-textarea {
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  padding: 10px;
}
.input-textarea:focus {
  outline: none;
  color: var(--bg-pink);
  border: 1px solid var(--bg-pink);
}
.input-field:focus {
  outline: none;
  color: var(--bg-pink);
  border-bottom: 1px solid var(--bg-pink);
}

/* removing autofill */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid green;
  -webkit-text-fill-color: green;
  -webkit-box-shadow: 0 0 0px 1000px #000 inset;
  transition: background-color 5000s ease-in-out 0s;
}
/*  */
